
.ToDo_Content_MobileWireframes{
    width: 100%;
    height: 192px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.ToDo_MobileWireframes_Up{
    width: 262px;
    height: 152px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    border-bottom: 1px solid black;
    background-color: burlywood;
}
.ToDo_MobileWireframes_Up_Title{
    width: 262px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ToDo_MobileWireframes_Up_Description{
    width: 262px;
    height: 54px;
    display: flex;
    align-items: center;
}
.ToDo_MobileWireframes_Up_MindX{
    width: 118px;
    height: 26px;

}
.ToDo_MobileWireframes_Up_MindX button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #0013FE;
    color: white;
    border: none;
}
.ToDo_MobileWireframes_Down{
    width: 262px;
    height: 40px;
    display: flex;
    padding: 8px 12px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.ToDo_MobileWireframes_Down_Paperclip{
    width: 35px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.ToDo_MobileWireframes_Down_RedFlag{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ToDo_MobileWireframes_Down_Clock{
    width: 71px;
    height: 24px;
    display: flex;
    align-items: center;
}